body {
    padding-top: 5rem;
}
.data,.msg{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 30%;

}

.contact{
    border-bottom: 1px;
    border-bottom-style:solid;
    border-color: black;
}

.msg > input[type=text]{
    width: 400px;
    height: 240px;
    margin: 8px 0;
    box-sizing: border-box;

}

input[type=text],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


